@model PaperLessOffice_ir_WebApplication.Models.Tab_Template

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tab_Template</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tempname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tempURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.temppath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.temppath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tempactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempactive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tab_Process.procname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tab_Process.procname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.template_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
