@model PaperLessOffice_ir_WebApplication.Models.tab_Options

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tab_Options</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Option_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Option_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Query_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Query_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Procedure_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procedure_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Procedure_Param)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procedure_Param)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pjid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pjid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.optactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.optactive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nxtmaxtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nxtmaxtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WCF_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WCF_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WCF_method)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WCF_method)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WCF_Param)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WCF_Param)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallFunction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallFunction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FunctionParamList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FunctionParamList)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutomaticOpt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutomaticOpt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ref_wfStatus.wfstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ref_wfStatus.wfstatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tab_jobs.jobname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tab_jobs.jobname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tab_jobs1.jobname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tab_jobs1.jobname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tab_Process.procname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tab_Process.procname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.optionid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
