@model PaperLessOffice_ir_WebApplication.Models.Tab_UserJob

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tab_UserJob</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ujActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ujActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.onlyLate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.onlyLate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tab_jobs.jobname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tab_jobs.jobname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tab_users.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tab_users.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ujid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
